@tailwind base;
@tailwind components;
@tailwind utilities;

.left-sidebar, .right-sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  width: 15%; /* Adjust width as needed */
}

.main-content {
  margin-left: 15%; /* Adjust to match sidebar width */
  margin-right: 15%; /* Adjust to match sidebar width */
  overflow-y: auto;
  height: 100vh;
  width: 70%; /* Ensure the middle section takes the remaining space */
}
